<h2 style="text-align:center">Welcome to Socrates</h2>

<p>This site is designed as a prototype for quickfire Questions and Answers. It is not a polished product (retro?), but a demonstration of a potential learning tool. The key site features are as follows:
<li>Initial design around simple maths questions, with a mixture of addition, multiplication and basic factors of varying difficulty</li>
<li>Fast and efficient user interface enables rapid response and gives most interesting user feedback</li>
<li>Your correct and incorrect answers are stored for analysis</li> 
<li>Question difficulty should adapt to your level over time, based on the difficulty of the last 20 questions</li>
<li>Users can add, edit and delete questions as required (currently without restriction!)</li>

<h4 style="text-align:center">Enjoy the site!</h4>

<h1 style="color:red;text-align:center"><%= link_to "Ask me a Question", new_response_path %></h1>