<h2 style="text-align:center">Welcome to Socrates</h2>

<p>This site is designed as a prototype for quickfire Questions and Answers. It is not a polished product, but a demonstration of a potential learning tool. The key site features are as follows:
<li>Initial design around simple questions</li>
<li>Your user profile captures your perfromance over time</li>
<li>Your correct and incorrect answers are used to adjust difficulty rating of specific questions</li> 
<li>Question difficulty should adapt to your level over time, creating a fun experience</li>

<h4 style="text-align:center">Enjoy the site!</h4>

<h1 style="color:red;text-align:center"><%= link_to "Ask me a Question", new_response_path %></h1>